body
{
    text-align: center;
}

h1
{
    font-size: 200px;
    margin-top: 150px;
    margin-bottom: 150px;
}

button, span
{
    font-size: 120px;
}

.on
{
    color: green;
}

.off
{
    color: white;
}